@media(min-width:960px){
   

      body {
        display: flex;
        flex-direction: column;
    }
  
    main {
        display: grid;
        height: calc(100% - 40px);
        flex-direction: row;
        flex: 1;
        
        
    }


    section .div_a{
        display: grid;
        height: 70px;
   
    background-color: yellow;
       

    }
    section .div_b{
        display: grid;
        height: 150px;
        background-color: orange;
       

    }
    section .div_c{
        display: grid;
        height: 152px;
        background-color: red;
       

    } section .div_b{
        display: grid;
        height: 150px;
        background-color:lightcoral;
       
    } section .div_e{
        display: grid;
        height: 150px;
        background-color: blue;
       

    } section .div_f{
        display: grid;
        height: 150px;
        background-color: lightskyblue;
       

    }section .div_g{
        display: grid;
        height: 150px;
        background-color: rgb(123, 93, 148);
       

    } section .div_h{
        display: grid;
        height: 150px;
        background-color:purple;
       

    

    } section .four{
        display: grid;
         
        grid-template-columns:50% 50%;
        
        
        
       

    }
 section .div_i{
    display: grid;
    height: 80px;
    background-color: forestgreen;
   

}}

@media (max-width:480px){

    body {
        display: flex;
        flex-direction: column;
    }
  
    main {
        display: grid;
        height: calc(100% - 40px);
        flex-direction: row;
        flex: 1;
        
        
    }


    section .div_a{
        display: grid;
        height: 70px;
   
    background-color: rgb(223, 54, 104);
       

    }
    section .div_b{
        display: grid;
        height: 150px;
        background-color: rgb(180, 92, 126);
       

    }
    section .div_c{
        display: grid;
        height: 152px;
        background-color: rgb(202, 199, 16);
       

    } section .div_b{
        display: grid;
        height: 150px;
        background-color:rgb(68, 114, 38);
       
    } section .div_e{
        display: grid;
        height: 150px;
        background-color: rgb(22, 22, 230);
       

    } section .div_f{
        display: grid;
        height: 150px;
        background-color: rgb(23, 78, 110);
       

    }section .div_g{
        display: grid;
        height: 150px;
        background-color: rgb(227, 223, 230);
       

    } section .div_h{
        display: grid;
        height: 150px;
        background-color:purple;
       

    

    } section .four{
        display: grid;
         
        grid-template-columns:50% 50%;
        
        
        
       

    }
 section .div_i{
    display: grid;
    height: 80px;
    background-color: rgb(176, 190, 111);


}
}

